<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li><a href="<%=new_session_path('user')%>"><i class="icon-lock"></i> Sign in</a></li>
  <li class="divider-vertical"></li>
  <li><a href="<%=new_registration_path('user')%>"><i class="icon-edit"></i> Sign up</a></li>
  <li class="divider-vertical"></li>
</ul>
