
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_url %>"><img src="img/logo.png"/></a>
      <div class="nav-collapse">
        <ul class="nav">
	        <li class="divider-vertical"></li>
          <li><a href="<%= about_url %>">About</a></li>
          <li class="divider-vertical"></li>
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search" required>
          </form>
          <li class="divider-vertical"></li>
        </ul>

        <% if user_signed_in? %>
          <%= render 'layouts/logged_in' %>
        <% else %>
          <%= render 'layouts/logged_out' %>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
